
.low-border {
    border: solid;
    border-width: 0px 0px 1px 0px;
    border-color: black;
}

.side-border {
    border: solid;
    border-width: 0px 1px 0px 1px;
    border-color: black;
}

.side-and-low-border {
    border: solid;
    border-width: 0px 1px 1px 1px;
    border-color: black;
}

.round-border {
    border: solid;
    border-width: 1px 1px 1px 1px;
    border-color: black;
}

.login-form input {
    margin: 8px;
}

.text-undecorated {
    text-decoration: none;
    color: black;
}

select, input, textarea {
    border: 1px;
    border-color: black;
    width: 300px;
}

body {
    background-color: peachpuff;
}

a {
    text-decoration: underline;
    color: black;
    font-weight: 500;
    line-height: 1.2;
}

.link-look {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

a:hover, .link-look:hover {
    color: darkslategrey;
}

.day-column{
    min-height: 200px
}
