
.low-border{
    border: solid;
    border-width: 0px 0px 1px 0px;
    border-color: black;
}

.login-form{}
.login-form input{
    margin: 8px;
}


input {
    border-color: black;
    background-color: plum;
}

header h1{
    text-align: center;
}

body{
    background-color: plum;
}

a{
    text-decoration: underline;
    color: black;
}

a:hover{
    color: darkslategrey;
}