@{ 
    ViewData["title"] = "Login";
    Layout = "_Layout";
}

@section Header {
}

@{await Html.RenderPartialAsync("AcountHeader"); }

<h1 class="text-center">login</h1>
<div class="text-center">
    <form class="login-form" method="post">
        <input type="text" name="Name"/> <br />
        <input type="password" name="Password"/> <br />
        <input type="submit" value="login"/>
    </form>
</div>