@model UserLoginModel

@{
    ViewData["title"] = "login";
}

@section Header {}

@{await Html.RenderPartialAsync("AcountHeader"); }

<h1 class="text-center">login</h1>
<div class="text-center p-3">
    @ViewData["Message"]<br />

    <form asp-controller="acount" asp-action="login">

        <span asp-validation-for="Name"></span><br />
        <input type="text" asp-for="Name" placeholder="username"/><br />
        
        <span asp-validation-for="Password"></span><br />
        <input type="password" asp-for="Password" placeholder="password"/><br />
        <br />
        
        <input type="submit" value="login" />
    </form>

</div>