@model RegisterModel;
@{
    ViewData["title"] = "Register";
}

@section Header {
}

@{await Html.RenderPartialAsync("AcountHeader"); }

<h1 class="text-center">Register</h1>
<div class="text-center">
    <form asp-controller="acout" asp-action="register">
        <input type="text" asp-for="Name" /><br />
        <br />
        <input type="password" asp-for="Password" /><br />
        <br />
        <input type="password" asp-for="PasswordConfirmation" /><br />
        <br />
        <input type="submit" value="register" />
    </form>
</div>