
@{
    string userName = Context.Session.GetString("userName");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Workout_tracking_web_client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>


    @if (IsSectionDefined("Header"))
    {
        RenderSection("Header");
    }
    else
    {
        <header class="container-fluid low-border">
            <table>
                <tr>
                    <td class="side-border h3 p-3">
                        <a asp-controller="search" asp-action="search">search</a>
                    </td>
                    <td class="side-border h3 p-3">
                        <a asp-controller="training" asp-action="training">training</a>
                    </td>
                </tr>
                <a class="side-border h3 p-3 float-right mb-0" asp-controller="user" asp-action="@userName">@userName</a>
            </table>
        </header>
    }


    <main class="container-fluid">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
