<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Workout_tracking_web_client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    @{
        if (IsSectionDefined("Header"))
        {
            RenderSection("Header");
        }
        else
        {
            <header>
                <table class="low-border w-100">
                    <tr>
                        <td>
                            <a href="~/acount/login"><h1>login</h1></a>
                        </td>
                    </tr>
                </table>
            </header>
        }
    }

    <main class="container">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
